nav.abajo{
    background-color: transparent;
}

.menu{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    background-color: var(--background-section-nav);   
}

.menu__contenido{
    margin: 0 100px;
}

.menu__logo{
    font-weight: bold;
    font-size: 1.563rem;
}

.menu__list{
    margin-right: 40px;
}

.menu__item{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.menu__item-link{
    text-decoration: none;
    cursor: pointer;
    color: var(--font-black);
    position: relative;
}

nav.abajo .menu__logo,
nav.abajo .menu__item-link,
nav.abajo .separador{
    transition: 0.5s;
    color: var(--fonts-white);
}

.menu a::after{
    content: "";
    background-color: var(--background-circle-nav);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    top: calc(100% + 8px);
    width: 6px;
    height: 6px;
    border-radius: 100%;
    opacity: 0;
}

.menu a.selected::after,
.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: var(--font-blue-ocean);
}

.separador{
    font-size: 20px;
    margin: 0 20px;
}

.menu__idiomas{
    cursor: pointer;
    margin: 5px;
}

.menu__bar-img{
    display: none;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .menu__contenido{
        margin: 0 20px;
    }

    .separador{
        font-size: 15px;
        margin: 0 10px;
    }

    .menu__item-link{
        font-size: 12px;
    }

    .menu__item{
        padding: 1px;
    }

    .menu__idiomas{
        padding: 2px;
    }

    .menu__img-es,
    .menu__img-en{
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    nav.abajo .menu__bar-img{
        stroke: var(--fonts-white);
    }

    .menu__logo{
        font-size: 25px;
    }

    nav.abajo .menu__item-link,
    .menu__item-link{
        left: 10%;
        font-size: 1.5rem;
        color: var(--fonts-white);
    }

    .menu__options{
        position: absolute;
        background-color: rgba(94, 92, 92, 0.4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .menu__options.menu-mobile{
        margin-left: 0;
    }

    .menu__list{
        margin-right: 0;
    }

    .menu__item{
        margin: 20px 0;
    }

    .menu__bar-img{
        display: block;
    }

    .menu__contenido{
        margin: 0 40px;
    }
    
    .separador{
        display: none;
    }

    .menu__img-es,
    .menu__img-en{
        width: 30px;
        height: 30px;
    }

    .menu__img-es{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .menu__img-en{
        position: absolute;
        top: 60px;
        left: 20px;
    }
}