.portfolio{
    height: auto;
    background-color: var(--background-section-portfolio);
}

.portfolio__options{
    max-width: 1000px;
    height: auto;
    margin-top: 50px;
}

.portfolio__title{
    margin: 50px 0;
}

.portfolio__list{ 
    text-align: center;
}

.portfolio__item{
    width: max-content;
    padding: 50px 90px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--fonts-white);
}

.chosen{
    color: var(--fonts-selected);
}

.portfolio__projects{
    max-width: 980px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.portfolio__project-preview{
    position: relative;
    width: 500px;
    height: 440px;
    margin-bottom: 40px;
}

.hide{
    display: none;
}

.portfolio__project-top{
    padding-right: 10px;
}

.portfolio__project-text{
    margin: 10px 20px;
    color: var(--fonts-grey);
}

.portfolio__project-row{
    cursor: pointer;
}

.portfolio__project-decoration{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 400px;
    height: 300px;
    border-width: 8px;
    border-style: solid;
    border-radius: 6px;
    border-color: var(--border-div);
}

.portfolio__project-image{
    position: absolute;
    border-radius: 15px;
    width: 430px;
    height: 320px;
    left: 11%;
    top: 13%;
}

.portfolio__project-info{
    width: 390px;
    height: 300px;
    margin: 40px 40px;
    display: none;
}

.portfolio__project-title{
    text-align: left;
    text-transform: none;
    margin: 20px 0;
}

.portfolio__project-description{
    line-height: 1.3;
    margin: 40px 0;
}

.portfolio__project-link{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--fonts-grey);
}

.signo{
    font-size: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .portfolio__item{
        padding-left: 60px;
        padding-right: 60px;
    }

    .portfolio__project-preview{
        width: 320px;
        height: 250px;
    }

    .portfolio__project-decoration{
        top: 29%;
        width: 240px;
        height: 160px;
        border-width: 5px;
    }

    .portfolio__project-image{
        top: 18%;
        width: 260px;
        height: 180px;
    }
    
    .portfolio__project-info{
        width: 280px;
        height: max-content;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .portfolio__project-title{
        font-size: 15px;
    }

    .portfolio__project-description,
    .portfolio__project-link{
        font-size: 16px;
        margin: 20px 0;
    }

    .signo{
        font-size: 20px;
    }

    .portfolio__projects{
        margin-bottom: 120px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .portfolio{
        min-height: 600px;
    }

    .portfolio__options{
        width: 90%;
    }

    .portfolio__item{
        font-size: 12px;
        padding: 5%;
    }

    .portfolio__project-text{
        font-size: 15px;
        margin: 10px 5px;
    }

    .portfolio__project-row{
        width: 45px;
        height: 40px;
    }

    .portfolio__project-preview{
        width: 200px;
        height: 220px;
        margin-bottom: 20px;
    }

    .portfolio__project-decoration{
        top: 30%;
        width: 150px;
        height: 130px;
        border-width: 3.5px;
    }

    .portfolio__project-image{
        top: 22%;
        width: 160px;
        height: 140px;
    }

    .portfolio__project-info{
        width: 30%;
        height: max-content;
        margin: 0 10px;
    }

    .portfolio__project-title{
        font-size: 15px;
        margin: 15px 0;
    }

    .portfolio__project-description{
        font-size: 10px;
        margin: 10px 0;
    }

    .portfolio__project-link{
        font-size: 10px;
    }
}
