.cover{
    width: 100%;
    height: auto;
    background-image: linear-gradient(var(--background-cover-star), var(--background-cover-middle), var(--background-cover-end));
}

.cover__profile{
    position: relative;
    width: 1000px;
    margin-top: 8%;
    height: auto;
}

.cover__overview{
    position: relative;
    top: 100px;
    max-width: 300px;
    height: max-content; 
}

.cover__text-title{
    text-transform: uppercase;
    color: var(--fonts-white);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10%;
}

.cover__text{
    font-size: 20px;
    margin-top: 30px;
    color: var(--fonts-grey);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.1rem;
}

.cover__greeting{
    position: relative;
    top: 50px;
    max-width: 360px;
    height: max-content;
}

h1{
    display: inline-block;
    margin-right: 10px;
    font-size: 40px;
    font-weight: 700;
    color: var(--fonts-white);
}

.cover__name{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--fonts-red);
}

.cover__profession{
    font-weight: 600;
    font-size: 20px;
    color: var(--fonts-white);
    margin-top: 20px;
}

.cover__btn-download-cv{
    max-width: 200px;
    max-height: auto;
    border-radius: 15px;
    background-color: var(--boton-rojo);
    border-color: var(--boton-rojo);
    margin: 50px 0 0 0;
    padding: 0 0 0 10px;
}

.cover__btn-download-cv:hover{
    cursor: pointer;
}

.cover__row-text{
    font-size: 20px;
    font-weight: bold;
    color: var(--fonts-white);
    text-decoration: none;
}

.cover__row-image{
    height: auto;
    margin-left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover__profile{
        margin-top: 15%;
    }

    .cover__overview{
        max-width: 250px;
        left: 5%;
    }

    .cover__text{
        font-size: 16px;
        text-align: center;
        margin-top: 60px;
    }

    .cover__greeting{
        width: 250px;
    }

    br{
        display: none;
    }

    .cover__row-text{
        font-size: 16px;
    }

    .cover__row-image{
        margin-left: 10px;
    }

    .cover__row-link{
        height: 35px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .cover__overview{
        display: none;
    }

    .cover__image{
        margin: 40px 5% 0 10%;
        width: 180px;
        height: 260px;
    }

    .cover__greeting{
        width: 60%;
    }
    
    h1{
        line-height: 1.1;
    }

    .cover__profession{
        margin-top: 10px;
        font-size: 16px;
    }

    .cover__btn-download-cv{
        border-radius: 8px;
        width: max-content;
        margin-top: 20px;
    }

    .cover__row-text{
        font-size: 10px;
    }

    .cover__row-image{
        margin-left: 10px;
    }

    .cover__row-link{
        height: 25px;
    }
}