.education{
    background-color: rgb(32, 38, 55, 1);
}

.education__content{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 150px 150px 0 0;
    background-image: linear-gradient( var(--background-education-start) 10%, var(--background-education-middle) 60%, var(--background-education-end) 90%);
}

.circle-right{
    position: absolute;
    right: 0;
    top: -100px;
    background-image: linear-gradient( var(--background-circle-start), var(--background-circle-end)); 
    width: 150px;
    height: 250px;
    border-radius: 250px 0 0 250px;
}

.circle-left{
    position: absolute;
    left: -110px;
    top: -130px;
    background-image: linear-gradient(var(--background-circle-start), var(--background-circle-end)); 
    width: 280px;
    height: 280px;
    border-radius: 100%;
}

.education__title{
    margin: 200px 0 50px 0;
}

.education__academic{
    max-width: 1200px;
    height: auto;
    margin: 50px 0 100px 0;
}

.education__academic-content,
.education__hobbies,
.education__hobbies-list{
    width: 100%;
    height: auto;
    margin: 100px 0;
}

.education__academic-title,
.education__hobbies-title{
    text-transform: none;
    margin: 20px 0 20px 40px;
}

.education__academic-item{
    margin: 40px 70px;
}

.education__img,
.hobbie__img{
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.education__item,
.education__hobbies-text{
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--fonts-white);
}

.weight{
    font-weight: 100;
}

.education__hobbies-item{
    margin: 40px 0;
}
