.education{
    background-color: rgb(32, 38, 55, 1);
}

.education__content{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 150px 150px 0 0;
    background-image: linear-gradient( var(--background-education-start) 10%, var(--background-education-middle) 60%, var(--background-education-end) 90%);
}

.circle-right{
    position: absolute;
    right: 0;
    top: -100px;
    background-image: linear-gradient( var(--background-circle-start), var(--background-circle-end)); 
    width: 150px;
    height: 250px;
    border-radius: 250px 0 0 250px;
}

.circle-left{
    position: absolute;
    left: -110px;
    top: -130px;
    background-image: linear-gradient(var(--background-circle-start), var(--background-circle-end)); 
    width: 280px;
    height: 280px;
    border-radius: 100%;
}

.education__title{
    margin: 200px 0 20px 0;
}

.education__academic{
    max-width: 1200px;
    height: auto;
    margin: 50px 0 80px 0;
}

.education__academic-content{
    width: 100%;
    height: auto;
    margin: 100px 0;
}

.education__academic-item{
    margin: 40px 70px;
}

.education__img{
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.education__item{
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--fonts-white);
}

.weight{
    font-weight: 100;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .education__academic-title{
        margin-left: 5%;
    }

    .education__academic-item {
        margin: 0 50px 50px;
    }

    .education__academic{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .education__content{
        border-radius: 80px 80px 0 0;
    }

    .circle-right{
        right: 0;
        top: -70px;
        width: 90px;
        height: 160px;
        border-radius: 160px 0 0 160px;
    }

    .circle-left{
        width: 180px;
        height: 180px;
        top: -90px;
        left: -50px;
    }

    .education__title{
        margin-top: 100px;
    }

    .education__academic{
        width: 90%;
    }

    .education__academic-content{
        margin: 50px 0;
    }

    .education__academic-item{
        margin: 20px 20px;
    }

    .education__img{
        width: 100%;
        height: 120px;
    }

    .education__item{
        font-size: 12px;
    }
}