.menu{
    align-items: center;
}

.menu__contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__options{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    
}
