.cover{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover__profile{
    display: flex;
    justify-content: space-between;
}

.cover__btn-download-cv{
    display: flex;
    align-items: center;
}

.cover__row-image{
    display: flex;
    align-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover__profile{
        display: flex;
        justify-content: center;
    }
    
    .cover__text-title{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .cover__profile{
        display: flex;
        justify-content: space-evenly;
    }
}